body {
    background: rgb(196, 196, 196);
}


p {
    color: #363636;
}

/*.foto-principal {
    width: 200px;;
    border: 2px solid rgb(175, 21, 21);
    border-radius: 50%;
    margin: 30px;
    padding: 3px;
    box-shadow: 2px 2px 2px black;*/
.foto-principal {
 width: 200px;
border: 2px solid rgb(139 107 107);
border-radius: 50%;
margin: 30px;
padding: 3px;
box-shadow: 0px 3px 10px #686565;
}

